<?xml version="1.0" encoding="UTF-8"?>
<site name="prep">
	<properties>
		<property name="defaultSlug" value="index.html" />
		<property name="defaultTemplate" value="main.jsp" />
	</properties>
	<navigations>
		<section id="0" label="Prep Home" site-nav="true">
			<section id="1" slug="users" label="Users">
				<section id="2" slug="update" label="Add/Update User"/>
			</section>
			<section id="3" slug="threads" label="Threads">
				<section id="4" slug="thread" label="Add/Update Thread"/>
			</section>
			<section id="5" slug="test">
				<section id="6" slug="overrideTemplate" template="override.jsp"/>
				<section id="7" slug="page-example.htm" content="example-content"/>
			</section>
		</section>
	</navigations>
	<menus>
		<menu name="left-menu">
			<sectionref id="3"/>
			<sectionref id="6"/>
		</menu>
		<menu name="footer">
			<sectionref id="3"/>
			<sectionref id="6"/>
		</menu>
	</menus>
	<redirects>
		<redirect from="/friendly" to="/threads/thread/thread1"/>
		<redirect from="/friendly/url2"  to="/users"/>
	</redirects>
</site>