<?xml version="1.0" encoding="UTF-8"?>
<site name="prep">
	<context>prep</context>
	<properties>
		<property name="defaultSlug" value="index.html" />
		<property name="defaultTemplate" value="main.jsp" />
	</properties>
	<structure>
		<node id="0" name="prep" label="Prep Home">
			<node id="1" name="users" label="Users">
				<node id="2" name="update" label="Add/Update User"/>
			</node>
			<node id="3" name="threads" label="Threads">
				<node id="4" name="thread" label="Add/Update Thread"/>
			</node>
			<node id="5" name="test">
				<node id="6" name="overrideTemplate" template="override.jsp"/>
				<node id="7" name="page-example.htm" content="example-content"/>
			</node>
		</node>
	</structure>
	<redirects>
		<redirect uri="/friendly" redirectUri="/threads/thread/thread1" type="301"/>
		<redirect uri="/friendly/url2"  redirectUri="/users"/>
	</redirects>
</site>