<?xml version="1.0" encoding="UTF-8"?>
<site name="prep">
	<properties>
		<property name="defaultPage" value="pages/landing-page.jsp" />
	</properties>
	<domains>
		<!-- example canonical domains for all sites -->
		<domain name="prep.microweb.com" type="canonical"/>
		<!-- <canonical name="admin.microweb.com" site="admin"/>  -->
		
		<!-- example alias domain for a hosted site -->
		<domain name="prep2.microweb.com" type="alias"/>
		
		<!-- example alias domain for a hosted site -->
		<domain name="prep2.microweb.com" type="alias"/>
		
		<!-- example redirection for a hosted site -->
		<domain name="prep3.microweb.com" type="redirect" scheme="preserve" port="preserve" uri="preserve" queryString="preserve"/>
	</domains>
	<navigations>
		<section id="0" label="Prep Home" slug="" site-nav="true" page="pages/home.jsp">
			<section id="1" slug="users" label="Users">
				<section id="2" slug="update" label="Add/Update User"/>
			</section>
			<section id="3" slug="threads" label="Threads">
				<section id="4" slug="thread" label="Add/Update Thread"/>
			</section>
			<section id="5" slug="test" label="test">
				<section id="6" slug="overrideTemplate" label="override template" page="override.jsp"/>
				<section id="7" slug="page-example.htm" label="page example"/>
			</section>
		</section>
	</navigations>

	 
	 <!-- 
	<menus>
		<menu name="left-menu">
			<sectionref id="3"/>
			<sectionref id="6"/>
		</menu>
		<menu name="footer">
			<sectionref id="3"/>
			<sectionref id="6"/>
		</menu>
	</menus>
	<redirects>
		<redirect from="/friendly" to="/threads/thread/thread1"/>
		<redirect from="/friendly/url2"  to="/users"/>
	</redirects>
	
	 -->
</site>